.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-main .nav-item {margin-left: 10px;}
.nav-main .nav-item:first-child {margin-left: 0;}
.nav-main .nav-item a {padding: 10px;display: inline-block;}

.ReactTable .rt-tbody .rt-tr-group {text-align: center;}
.react-tagsinput-input {min-width: 130px;}